//GLOBALS
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 100%;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
}

//COLORS
$orange:  rgb(255, 125, 26);
$pale-orange: rgb(255, 237, 224);
$very-vark-blue: hsl(220, 13%, 13%);
$dark-grayish-blue: hsl(219, 9%, 45%);
$grayish-blue: hsl(220, 14%, 75%);
$light-grayish-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black:  hsl(0, 0%, 0%);
$hover:#ff7d1a8f;

//TYPOGRAPHY
p{
    font-size: 16px;
    font-weight: 400;
    color: $dark-grayish-blue;
}
.h1{
    font-size: 38px;

    
    @media only screen and (max-width: 375px) {
        font-size: 26px;
    }
}
.h3{
    font-size: 26px;
}

//LAYOUT
.wrapper{
    max-width: 1119px;
    margin: 0 auto;
    padding: 0 15px;
}
.wrapper-inner{
    max-width: 1022px;
    margin: 0 auto;
    padding: 0 15px;

    @media only screen and (max-width: 1024px) {
        padding: 0 40px;
    }
    @media only screen and (max-width: 375px) {
        padding: 0 20px;
    }
}

/*header*/
header{


    .header-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $grayish-blue;
        padding: 45px 0;

        @media only screen and (max-width: 991px) {
            padding: 24px 0;
        }
        @media only screen and (max-width: 375px) {
            border-bottom: none;
        }
    }

    .left-nav{
        display: flex;
        align-items: center;
        gap: 57px;

        @media only screen and (max-width: 991px) {
            gap: 14px;
            align-items: baseline;
        }

        .logo{
            @media only screen and (max-width: 991px) {
                order: 2;
            }
        }

        nav{


            @media only screen and (max-width: 991px) {
                display: none;
            }

            ul{
                list-style: none;
                display: flex;
                gap: 34px;

                li{
                    a{
                        text-decoration: none;
                        color: $dark-grayish-blue;
                        transition: 300ms ease;
                        position: relative;

                        &::after{
                            content: "";
                            height: 4px;
                            width: 100%;
                            background-color: $orange;
                            display: block;
                            position: absolute;
                            bottom: -3.9rem;
                            opacity: 0;
                            transition: 300ms ease;
                        }

                        &:hover{
                            color: $very-vark-blue;

                            &::after{
                                opacity: 1;
                            }
                        }
                    }
                }

                .active > a{
                    &::after{
                        content: "";
                        height: 4px;
                        width: 100%;
                        background-color: $orange;
                        display: block;
                        position: absolute;
                        bottom: -3.9rem;
                        opacity: 1;
                        transition: 300ms ease;
                    }
                }

            }
        }

        .mobile-menu-toggle{
            display: none;
            cursor: pointer;

            img{
                height: 18px;
            }

            @media only screen and (max-width: 991px) {
                display: block;
                order: 1;
            }
        }

        .backdrop{
            background: rgba(0, 0, 0, 0.76);
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 98;
            top: 0;
            left: 0;
            visibility: hidden;
            opacity: 0;
            transition: 300ms ease;

        }

        aside{
            max-height: 100%;
            height: 100vh;
            width: 50vw;
            background-color: white;
            position: absolute;
            z-index: 99;
            padding: 27px;
            left: 0;
            top: 0;
            transition: 300ms ease;
            transform: translateX(-50%);

            visibility: hidden;
            opacity: 0;

            .close-mobile-menu{
                margin-bottom: 50px;
                display: block;
                cursor: pointer;

                img{
                    height: 18px;
                }
            }

            ul{
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 30px;

                li > a{
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $black;
                    font-weight: 900;
                }
            }
        }

        .show{
            visibility: visible;
            opacity: 1;
            transform: translateX(0);
        }

    }

    .right-nav{
        display: flex;
        align-items: center;
        gap: 45px;

        @media only screen and (max-width: 991px) {
            gap: 24px;
        }

        .cart{
            cursor: pointer;
            position: relative;

            @media only screen and (max-width: 991px) {
               position: static;
            }
            
            #cart-toggle{
                position: relative;
                span{
                    background-color: $orange;
                    color: $white;
                    padding: 0 .4rem;;
                    border-radius: 1rem;
                    font-size: 12px;
                    position: absolute;
                    top: -12px;
                    right: -1px;
                }
            }

            .cart-container{
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                border-radius: .4rem;
                position: absolute;
                width: 361px;
                background-color: $white;
                right: 0;
                margin: 1rem 0;
                visibility: hidden;
                opacity: 0;
                z-index: 99;

                @media only screen and (max-width: 991px) {
                    left: 50%;
                    transform: translateX(-50%);
                    width: 90%;
                }

                &--header{
                    padding: 25px;
                    border-bottom: 1px solid $grayish-blue;
                }
                &--body{
                    padding: 25px;
                    min-height: 189px;
                    //display: grid;
                    //place-items: center;
                    p{
                        text-align: center;
                    }

                    .item-preview{
                        display:flex;
                        align-items: center;
                        gap: 1rem;
                        margin-bottom: 1rem;
                       

                        &-img{
                          img{
                              height: 50px;
                              width: 50px;
                              border-radius: .4rem;
                          }
                        }
                        &-description{
                            .title{
                                margin-bottom: 10px;
                            }
                        }
                        &-description-container{
                            display:flex;
                            gap: 8px;

                            .total-price{
                               p{
                                color: $black;
                                font-weight: 900;
                               }
                            }
                        }
                    }

                    .checkout-btn{
                        text-decoration: none;
                        background-color: $orange;
                        color: $white;
                        display: inline-block;
                        padding: 15px 78px;
                        border-radius: .4rem;
                        transition: 300ms ease;
                        text-align: center;
                        width: 100%;
        
                        &:hover{
                            background-color: $hover;
                        }
                    }
                }
            }

            .open{
                visibility: visible;
                opacity: 1;
            }

        }

        .profile{
            cursor: pointer;
            img{
                height: 50px;
                width: 50px;
                border: 2px solid transparent;
                border-radius: 100%;
                transition: 300ms ease;

                @media only screen and (max-width: 375px) {
                    height: 30px;
                    width: 30px;
                }

                &:hover{
                    border: 2px solid $orange;
                }
            }
        }
    }

}

/*product detail view*/
.product-detail-view{
    padding: 106px 0;

    @media only screen and (max-width: 1024px) {
        padding: 56px 0;
    }

    @media only screen and (max-width: 375px) {
        padding: 0px 0;
        padding-bottom: 40px;
    }

    &__container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 123px;

        @media only screen and (max-width: 1024px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 16px;
        }

        @media only screen and (max-width: 375px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 16px;
        }
    }

    &__image{
        overflow-x: hidden;
        position: relative;

        img{
            max-width: 100%;
            width: 100%;
            border-radius: .4rem;
        }
        .poplets{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;
            margin-top: 1rem;

            img{
                border-radius: .4rem;
            }
        }


    }

    &__description{
        padding-top: 55px;

        @media only screen and (max-width: 375px) {
            padding-top: 5px;
        }

        .brand-name{
            text-transform: uppercase;
            color: $orange;
            font-weight: 900;
            margin-bottom: 18px;
        }
        .title{
            margin-bottom: 32px;
            @media only screen and (max-width: 600px) {
                margin-bottom: 20px;
            }
        }
        .desc{
            line-height: 1.6;
            margin-bottom: 30px;
        }
        .price{

            @media only screen and (max-width: 600px) {
               display: flex;
               align-items: center;
               justify-content: space-between;
               margin-bottom: 30px;
            }

           .selling-price{
            display: flex;
            align-items: center;
            gap: 14px;
            margin-bottom: 5px;

            .price-off{
              background-color: $pale-orange;
              color: $orange;
              padding: .3rem .5rem;
              border-radius: .4rem;
            }

           }

           .original-price{
            font-weight: 900;
            color: $grayish-blue;
            text-decoration: line-through;
            margin-bottom: 30px;

            @media only screen and (max-width: 600px) {
               margin: 0;
            }

           }

        }
    }

    &__add-to-cart{
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        @media only screen and (max-width: 600px) {
           flex-direction: column;
        }

        .quantity{
            display: flex;
            align-items: center;
            background-color: $light-grayish-blue;
            border-radius: .4rem;

            @media only screen and (max-width: 1024px) {
                width: 40%;
                justify-content: space-around;
            }

            @media only screen and (max-width: 600px) {
                width: 100%;
               justify-content: space-around;
               padding: 13px 0;
               margin-bottom: 17px;
            }

            a{
                display: flex;
                align-items: center;
                padding: 10px 15px;
            }

            p{
                padding: 0 32px;
                color: $black;
                font-weight: 900;
            }
        }

        .add-btn{
            a{
                text-decoration: none;
                background-color: $orange;
                color: $white;
                display: inline-block;
                padding: 15px 78px;
                border-radius: .4rem;
                box-shadow: 0 14px 28px rgba(255, 125, 26, 0.25), 0 10px 10px rgba(255, 125, 26, 0.22);
                transition: 300ms ease;

                @media only screen and (max-width: 600px) {
                   width: 100%;
                   text-align: center;
                 }
         

                &:hover{
                    background-color: $hover;
                }
            }
        }
    }



}